
#main {
  overflow: hidden;
}

#left {
  float: left;
  width: 25%;
  margin-left: 1%;
  border: 1px solid gray;

}

#right {
  float: right;
  width: 70%;
  margin-right: 1%;
  border: 1px solid gray;

}

#chat-box {
  width: 100%;
}


#list-group {
  font-family: Georgia;
}

.group-contactName {
  margin-left: 3px;
}

.listTitle {
  width: 90%;
  margin: auto;
  border: 1px solid navy;
  text-align: center;
  color: navy;
  font-size: 16px;
}
.contact {
  width: 95%;
  padding: 2%;
  border: 1px solid gray;
  margin: auto;
  color: navy;
  font-size: 15px;
}

.group {
  width: 95%;
  padding: 2%;
  border: 1px solid gray;
  margin: auto;
  color: navy;
  font-size: 15px;
}

.removeContactButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  float: right;
}
.denyContactButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  float: right;
}


.acceptContactButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  float: right;
}


.exitGroupButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  float: right;
}

.addContactToGroupButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  float: right;
}

.conferenceLink {

}

.listTitle {

}

.addContactToGroupButton {
  font-size: 10pt;
  text-align: center;
  float: right;
  height: 30px;
  width: 20%;
}

.addContactToGroupEmail {
  font-size: 10pt;
  height: 30px;
  width: 75%;
}
